<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/imark/IdeaProjects/JavaBatch9TestNG/out">
        <classes>
                <class name="com.TestNG.class02.PriorityBatch9"/>
                </class>
        <classes/>
    </test>
</suite>